<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../shared/head'); %>
</head>
<body class="vh-100 vw-100 p-4" style="background: #6610f2">

  <%- include('../shared/navbar', {user: user}); %>

  <main class="container bg-body rounded p-4">

    <div class="d-flex align-items-center justify-content-between">
      <h1>Clientes</h1>
      
      <%- include('../shared/back_link'); %>
      
    </div>
    <div class="d-flex flex-row-reverse">
      <button type="button" class="btn btn-outline-secondary btn-sm ms-auto" data-bs-toggle="modal" data-bs-target="#novoClienteModal">Cadastrar novo cliente</button>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th class="d-none d-md-block" scope="col">Endereço</th>
            <th scope="col">Telefone</th>
            <th scope="col">Cidade</th>
          </tr>
        </thead>
        <tbody>
          <% clientes.forEach(function(cliente){ %>
            
            <tr>
            <th scope="row"><%= cliente.idCliente %></th>
            <td><%= cliente.nomeCliente  %></td>
            <td class="d-none d-md-block"><%= cliente.enderecoCliente %> </td> 
            <td><%= cliente.telefoneCliente %> </td> 
            <td><%= cliente.cidadeCliente %> </td> 
            </tr>
            
          <% }); %>
        </tbody>
      </table>
    </div>
    <div class="modal fade" id="novoClienteModal" tabindex="-1" aria-labelledby="novoClienteModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Cadastrar novo cliente</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
          </div>
          <div class="modal-body">
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>
      
  </main>

<%- include('../shared/footer'); %> 
</body>
</html>